Repository LabAutomationAndScreening/pyalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-check, sync-dependencies-on-commit, forbidden-files, pyright

Path conditions:
  uv-check: any of: ^pyproject.toml$|^uv.lock$
  sync-dependencies-on-commit: any of: uv.lock$
  forbidden-files: any of: \.rej$
  pyright: any of: .+\.py$ and \.py$

[23798729211-1774962213-446-default] Enqueue
  mutex_queue
Due: none

[23798729211-1774962213-446-default] Unlock
  mutex_queue
Due: none

pydantic
  .devcontainer/devcontainer.json
  pyproject.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit

[23798884784-1774962434-741-default] Enqueue
  mutex_queue
Due: none

[23798884784-1774962434-741-default] Unlock
  mutex_queue
Due: none

[23804569184-1774969726-340-default] Enqueue
  mutex_queue
Due: none

[23804569184-1774969726-340-default] Unlock
  mutex_queue
Due: none

[24310730419-1776009952-980-default] Enqueue
  mutex_queue
Due: none

[24310730419-1776009952-980-default] Unlock
  mutex_queue
Due: none

[24960978622-1777219533-175-default] Enqueue
  mutex_queue
Due: none

[24960978622-1777219533-175-default] Unlock
  mutex_queue
Due: none

[25995843584-1779033975-96-default] Enqueue
  mutex_queue
Due: none

[25995843584-1779033975-96-default] Unlock
  mutex_queue
Due: none

[26851990896-1780439635-331-default] Enqueue
  mutex_queue
Due: none

[26851990896-1780439635-331-default] Unlock
  mutex_queue
Due: none

[26858912393-1780451569-117-default] Enqueue
  mutex_queue
Due: none

[26858935497-1780451618-479-default] Enqueue
  mutex_queue
Due: none

[26858912393-1780451569-117-default] Unlock
  mutex_queue
Due: none

[26858935497-1780451618-479-default] Unlock
  mutex_queue
Due: none

bump
  .devcontainer/devcontainer.json
  uv.lock
Due: uv-check, sync-dependencies-on-commit

[26859047523-1780451824-334-default] Enqueue
  mutex_queue
Due: none

[26859047523-1780451824-334-default] Unlock
  mutex_queue
Due: none

[26859225298-1780452155-483-default] Enqueue
  mutex_queue
Due: none

[26859225298-1780452155-483-default] Unlock
  mutex_queue
Due: none

[27504410039-1781453084-446-default] Enqueue
  mutex_queue
Due: none

[27504410039-1781453084-446-default] Unlock
  mutex_queue
Due: none

[28746684300-1783267479-701-default] Enqueue
  mutex_queue
Due: none

[28746684300-1783267479-701-default] Unlock
  mutex_queue
Due: none

move
  .config/.copier-answers.yml
Due: none

imports
  src/pyalab/steps/base.py
  src/pyalab/steps/builders.py
  src/pyalab/steps/params.py
  src/pyalab/steps/set_volume.py
  src/pyalab/steps/transfer.py
Due: pyright

ruff
  docs/conf.py
  src/pyalab/steps/__init__.py
  tests/unit/method_steps/test_multi_dispense.py
  tests/unit/method_steps/test_simple_transfer.py
Due: pyright

misc
  src/pyalab/integra_xml.py
  src/pyalab/program.py
  src/pyalab/steps/base.py
Due: pyright

new stubs
  pyproject.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit

whitespcae
  src/pyalab/steps/base.py
Due: pyright

refactor: replace explicit Any annotations to satisfy pyrefly
  src/pyalab/program.py
  src/pyalab/steps/base.py
  src/pyalab/steps/builders.py
  src/pyalab/steps/multi_dispense.py
  src/pyalab/steps/set_volume.py
  src/pyalab/steps/transfer.py
  tests/unit/method_steps/test_multi_dispense.py
  tests/unit/method_steps/test_simple_transfer.py
Due: pyright

chore: refresh devcontainer context hash
  .devcontainer/devcontainer.json
Due: none
