Repository LabAutomationAndScreening/pyalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-check, sync-dependencies-on-commit, forbidden-files, pyright

uv-check:
  name: check pyproject.toml for valid Poetry config
  entry: bash -c 'uv lock --check'
  language: system
  pass_filenames: false
  verbose: true

sync-dependencies-on-commit:
  name: ensure python dependencies are up to date during commits
  stages:
  - pre-commit
  ...

forbidden-files:
  name: forbidden files
  entry: found copier update rejection files; review them and remove them
  language: fail

pyright:
  name: pyright
  entry: bash -c "uv run pyright"
  pass_filenames: false
  language: system
  require_serial: true
  verbose: true

[12400376662-1734551950-990] Unlock
  mutex_queue
Due: none

[12400399511-1734552051-704] Enqueue
  mutex_queue
Due: none

[12400399511-1734552051-704] Unlock
  mutex_queue
Due: none

added basic docs
  README.md
  docs/conf.py
  docs/example.rst
  docs/index.rst
  docs/requirements.txt
  docs/steps.rst
  pyproject.toml
  src/pyalab/steps/transfer.py
  uv.lock
Due: uv-check, sync-dependencies-on-commit, pyright

[12401111217-1734555062-804] Enqueue
  mutex_queue
Due: none

[12401111217-1734555062-804] Unlock
  mutex_queue
Due: none

fix doc
  docs/index.rst
Due: none

[12401140919-1734555200-488] Enqueue
  mutex_queue
Due: none

[12401140919-1734555200-488] Unlock
  mutex_queue
Due: none

Add basic Sphinx documentation (#8)
  README.md
  docs/conf.py
  docs/example.rst
  docs/index.rst
  docs/requirements.txt
  docs/steps.rst
  pyproject.toml
  src/pyalab/steps/transfer.py
  uv.lock
Due: uv-check, sync-dependencies-on-commit, pyright

[12401160337-1734555290-839] Enqueue
  mutex_queue
Due: none

[12401160337-1734555290-839] Unlock
  mutex_queue
Due: none

[12401176851-1734555373-194] Enqueue
  mutex_queue
Due: none

[12401176851-1734555373-194] Unlock
  mutex_queue
Due: none

copier update
  .copier-answers.yml
  .github/.codecov.yml
  .readthedocs.yaml
Due: none

more documentation
  docs/conf.py
  docs/steps.rst
  src/pyalab/steps/set_volume.py
  src/pyalab/steps/transfer.py
Due: pyright

[12404536875-1734572052-185] Enqueue
  mutex_queue
Due: none

[12404536875-1734572052-185] Unlock
  mutex_queue
Due: none

Additional step documentation (#11)
  .copier-answers.yml
  .github/.codecov.yml
  .readthedocs.yaml
  docs/conf.py
  docs/steps.rst
  src/pyalab/steps/set_volume.py
  src/pyalab/steps/transfer.py
Due: pyright

[12404555925-1734572148-231] Enqueue
  mutex_queue
Due: none

[12404555925-1734572148-231] Unlock
  mutex_queue
Due: none

[12404569090-1734572230-366] Enqueue
  mutex_queue
Due: none

[12404569090-1734572230-366] Unlock
  mutex_queue
Due: none

update conf
  docs/conf.py
  docs/index.rst
Due: pyright

local install
  .copier-answers.yml
  .readthedocs.yaml
Due: none

sorting
  docs/conf.py
Due: pyright

[12404732959-1734573182-169] Enqueue
  mutex_queue
Due: none

[12404732959-1734573182-169] Unlock
  mutex_queue
Due: none

copier
  .copier-answers.yml
  .readthedocs.yaml
Due: none

[12404755186-1734573309-543] Enqueue
  mutex_queue
Due: none

[12404755186-1734573309-543] Unlock
  mutex_queue
Due: none

Fix ReadTheDocs (#12)
  .copier-answers.yml
  .readthedocs.yaml
  docs/conf.py
  docs/index.rst
Due: pyright

[12404768670-1734573408-947] Enqueue
  mutex_queue
Due: none

[12404768670-1734573408-947] Unlock
  mutex_queue
Due: none

[12404781098-1734573496-481] Enqueue
  mutex_queue
Due: none

[12404781098-1734573496-481] Unlock
  mutex_queue
Due: none

downgrade
  .copier-answers.yml
  .devcontainer/devcontainer.json
  .devcontainer/install-ci-tooling.sh
  .github/workflows/checks.yaml
  .python-version
  pyproject.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit

typo
  .copier-answers.yml
  .pre-commit-config.yaml
Due: none

[12404885723-1734574147-630] Enqueue
  mutex_queue
Due: none

[12404885723-1734574147-630] Unlock
  mutex_queue
Due: none

Path conditions:
  uv-check: any of: ^pyproject.toml$|^uv.lock$
  sync-dependencies-on-commit: any of: uv.lock$
  forbidden-files: any of: \.rej$
  pyright: any of: .+\.py$ and \.py$
