Repository LabAutomationAndScreening/pyalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-check, sync-dependencies-on-commit, forbidden-files, pyright

uv-check:
  name: check pyproject.toml for valid Poetry config
  entry: bash -c 'uv lock --check'
  language: system
  pass_filenames: false
  verbose: true

sync-dependencies-on-commit:
  name: ensure python dependencies are up to date during commits
  stages:
  - pre-commit
  ...

forbidden-files:
  name: forbidden files
  entry: found copier update rejection files; review them and remove them
  language: fail

pyright:
  name: pyright
  entry: bash -c "uv run pyright"
  pass_filenames: false
  language: system
  require_serial: true
  verbose: true

copier update
  .copier-answers.yml
  .pre-commit-config.yaml
Due: none

copier update
  .copier-answers.yml
  _typos.toml
Due: none

coverage
  tests/unit/test_program.py
Due: pyright

[12396090872-1734535607-39] Enqueue
  mutex_queue
Due: none

[12396090872-1734535607-39] Unlock
  mutex_queue
Due: none

get tip id
  src/pyalab/deck.py
  src/pyalab/integra_xml.py
  src/pyalab/pipette.py
  src/pyalab/plate.py
  tests/unit/__snapshots__/test_program/TestSimpleTransferProgramSnapshots.test_arbitrary_params[arbitrary1].xml
  tests/unit/__snapshots__/test_program/TestSimpleTransferProgramSnapshots.test_arbitrary_params[arbitrary2].xml
  tests/unit/test_pipette.py
  tests/unit/test_program.py
Due: pyright

[12396573486-1734537203-288] Enqueue
  mutex_queue
Due: none

[12396573486-1734537203-288] Unlock
  mutex_queue
Due: none

use tip id
  src/pyalab/program.py
  src/pyalab/steps/base.py
  src/pyalab/steps/transfer.py
  tests/unit/__snapshots__/test_program/TestSimpleTransferProgramSnapshots.test_arbitrary_params[arbitrary1].xml
  tests/unit/__snapshots__/test_program/TestSimpleTransferProgramSnapshots.test_arbitrary_params[arbitrary2].xml
  tests/unit/snapshot.py
Due: pyright

[12396791888-1734537942-87] Enqueue
  mutex_queue
Due: none

[12396791888-1734537942-87] Unlock
  mutex_queue
Due: none

snapshot tip types
  tests/unit/__snapshots__/test_program/TestSimpleTransferProgramSnapshots.test_arbitrary_params[arbitrary2].xml
  tests/unit/test_program.py
Due: pyright

[12396884948-1734538245-627] Enqueue
  mutex_queue
Due: none

[12396884948-1734538245-627] Unlock
  mutex_queue
Due: none

Snapshot tests (#4)
  .copier-answers.yml
  .pre-commit-config.yaml
  _typos.toml
  pyproject.toml
  src/pyalab/deck.py
  src/pyalab/integra_xml.py
  src/pyalab/pipette.py
  src/pyalab/plate.py
  src/pyalab/program.py
  src/pyalab/steps/base.py
  src/pyalab/steps/transfer.py
  tests/unit/__snapshots__/test_program/TestSimpleTransferProgramSnapshots.test_arbitrary_params[arbitrary1].xml
  tests/unit/__snapshots__/test_program/TestSimpleTransferProgramSnapshots.test_arbitrary_params[arbitrary2].xml
  tests/unit/conftest.py
  tests/unit/snapshot.py
  tests/unit/test_pipette.py
  tests/unit/test_program.py
  uv.lock
Due: uv-check, sync-dependencies-on-commit, pyright

[12397049465-1734538820-483] Enqueue
  mutex_queue
Due: none

[12397049465-1734538820-483] Unlock
  mutex_queue
Due: none

[12398002681-1734542249-572] Enqueue
  mutex_queue
Due: none

[12398002681-1734542249-572] Unlock
  mutex_queue
Due: none

add notebook
  create_vialab_program.ipynb
Due: none

[12398057458-1734542446-4] Enqueue
  mutex_queue
Due: none

[12398057458-1734542446-4] Unlock
  mutex_queue
Due: none

add runtime
  runtime.txt
Due: none

[12398121872-1734542685-77] Enqueue
  mutex_queue
Due: none

[12398121872-1734542685-77] Unlock
  mutex_queue
Due: none

sphinx
  .copier-answers.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/make.bat
  docs/requirements.txt
  pyproject.toml
Due: uv-check, pyright

[12398680483-1734544965-305] Enqueue
  mutex_queue
Due: none

[12398680483-1734544965-305] Unlock
  mutex_queue
Due: none

coiper
  .copier-answers.yml
  docs/Makefile
Due: none

[12398817601-1734545505-441] Enqueue
  mutex_queue
Due: none

[12398817601-1734545505-441] Unlock
  mutex_queue
Due: none

gitignore
  .copier-answers.yml
  .gitignore
Due: none

[12398863611-1734545683-249] Enqueue
  mutex_queue
Due: none

[12398863611-1734545683-249] Unlock
  mutex_queue
Due: none

comment
  tests/unit/snapshot.py
Due: pyright

[12398964202-1734546084-591] Enqueue
  mutex_queue
Due: none

[12398964202-1734546084-591] Unlock
  mutex_queue
Due: none

downgrade lxml
  pyproject.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit

[12399003615-1734546241-545] Enqueue
  mutex_queue
Due: none

[12399003615-1734546241-545] Unlock
  mutex_queue
Due: none

Path conditions:
  uv-check: any of: ^pyproject.toml$|^uv.lock$
  sync-dependencies-on-commit: any of: uv.lock$
  forbidden-files: any of: \.rej$
  pyright: any of: .+\.py$ and \.py$
