Repository LabAutomationAndScreening/pyalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-check, sync-dependencies-on-commit, forbidden-files, pyright

uv-check:
  name: check pyproject.toml for valid Poetry config
  entry: bash -c 'uv lock --check'
  language: system
  pass_filenames: false
  verbose: true

sync-dependencies-on-commit:
  name: ensure python dependencies are up to date during commits
  stages:
  - pre-commit
  ...

forbidden-files:
  name: forbidden files
  entry: found copier update rejection files; review them and remove them
  language: fail

pyright:
  name: pyright
  entry: bash -c "uv run pyright"
  pass_filenames: false
  language: system
  require_serial: true
  verbose: true

[12375633308-1734447712-456] Enqueue
  mutex_queue
Due: none

[12375633308-1734447712-456] Unlock
  mutex_queue
Due: none

[12375666444-1734447815-394] Enqueue
  mutex_queue
Due: none

[12375666444-1734447815-394] Unlock
  mutex_queue
Due: none

[12375300731-1734447910-337] Enqueue
  mutex_queue
Due: none

[12375300731-1734447910-337] Unlock
  mutex_queue
Due: none

add deck
  src/pyalab/__init__.py
  src/pyalab/constants.py
  src/pyalab/deck.py
  src/pyalab/program.py
Due: pyright

copier update
  .copier-answers.yml
  ruff.toml
Due: none

[12376172787-1734449403-565] Enqueue
  mutex_queue
Due: none

[12376172787-1734449403-565] Unlock
  mutex_queue
Due: none

add basic XML
  src/pyalab/deck.py
  src/pyalab/integra_xml.py
Due: pyright

typos update
  .copier-answers.yml
  _typos.toml
Due: none

add integra to typos
  _typos.toml
Due: none

[12376489739-1734450477-928] Enqueue
  mutex_queue
Due: none

[12376489739-1734450477-928] Unlock
  mutex_queue
Due: none

[12376555695-1734450665-214] Enqueue
  mutex_queue
Due: none

[12376555695-1734450665-214] Unlock
  mutex_queue
Due: none

add stubs
  pyproject.toml
  src/pyalab/__init__.py
  src/pyalab/constants.py
  src/pyalab/integra_xml.py
  tests/unit/test_library_component.py
  uv.lock
Due: uv-check, sync-dependencies-on-commit, pyright

copier update for pyright
  .copier-answers.yml
  .pre-commit-config.yaml
  pyrightconfig.json
Due: none

[12378939674-1734459312-13] Enqueue
  mutex_queue
Due: none

[12378939674-1734459312-13] Unlock
  mutex_queue
Due: none

copier update
  .copier-answers.yml
  pytest.ini
Due: none

added plate
  pytest.ini
  src/pyalab/__init__.py
  src/pyalab/deck.py
  src/pyalab/integra_xml.py
  src/pyalab/plate.py
  src/pyalab/program.py
  tests/unit/test_library_component.py
  tests/unit/test_program.py
Due: pyright

can generate deck layout
  src/pyalab/__init__.py
  src/pyalab/deck.py
  src/pyalab/integra_xml.py
  src/pyalab/pipette.py
  src/pyalab/plate.py
  src/pyalab/program.py
  src/pyalab/steps/__init__.py
  src/pyalab/steps/set_volume.py
  tests/unit/simple_transfer_program.xml
  tests/unit/test_deck.py
  tests/unit/test_program.py
Due: pyright

[12382071453-1734472402-798] Enqueue
  mutex_queue
Due: none

[12382071453-1734472402-798] Unlock
  mutex_queue
Due: none

simple program
  src/pyalab/__init__.py
  src/pyalab/deck.py
  src/pyalab/plate.py
  src/pyalab/program.py
  src/pyalab/steps/__init__.py
  src/pyalab/steps/base.py
  src/pyalab/steps/set_volume.py
  src/pyalab/steps/transfer.py
  tests/unit/simple_transfer_program.xml
  tests/unit/steps/test_set_volume.py
  tests/unit/test_program.py
Due: pyright

coiper update
  .copier-answers.yml
  .coveragerc
  pyproject.toml
  pyrightconfig.json
  ruff-test.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit

[12394722823-1734531141-519] Enqueue
  mutex_queue
Due: none

[12394722823-1734531141-519] Unlock
  mutex_queue
Due: none

test coverage
  src/pyalab/__init__.py
  src/pyalab/program.py
  tests/unit/test_program.py
Due: pyright

[12395120519-1734532414-565] Enqueue
  mutex_queue
Due: none

[12395120519-1734532414-565] Unlock
  mutex_queue
Due: none

[12395176894-1734532601-852] Enqueue
  mutex_queue
Due: none

[12395176894-1734532601-852] Unlock
  mutex_queue
Due: none

snapshot initial
  pyproject.toml
  src/pyalab/program.py
  tests/unit/__snapshots__/test_program/test_simple_transfer_program_matches_snapshot.xml
  tests/unit/conftest.py
  tests/unit/snapshot.py
  tests/unit/test_program.py
  uv.lock
Due: uv-check, sync-dependencies-on-commit, pyright

Path conditions:
  uv-check: any of: ^pyproject.toml$|^uv.lock$
  sync-dependencies-on-commit: any of: uv.lock$
  forbidden-files: any of: \.rej$
  pyright: any of: .+\.py$ and \.py$
