Repository LabAutomationAndScreening/pyalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-check, sync-dependencies-on-commit, forbidden-files, pyright

Path conditions:
  uv-check: any of: ^pyproject.toml$|^uv.lock$
  sync-dependencies-on-commit: any of: uv.lock$
  forbidden-files: any of: \.rej$
  pyright: any of: .+\.py$ and \.py$

[17732981177-1757939233-424-default] Enqueue
  mutex_queue
Due: none

[17732981177-1757939233-424-default] Unlock
  mutex_queue
Due: none

[17895920679-1758470872-808-default] Enqueue
  mutex_queue
Due: none

[17895920679-1758470872-808-default] Unlock
  mutex_queue
Due: none

copier
  .copier-answers.yml
  .devcontainer/devcontainer.json
  .devcontainer/install-ci-tooling.py
  .github/workflows/get-values.yaml
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  ruff-test.toml
  ruff.toml
Due: pyright

[18314241907-1759843658-122-default] Enqueue
  mutex_queue
Due: none

[18314241907-1759843658-122-default] Unlock
  mutex_queue
Due: none

bump syrupy
  .devcontainer/devcontainer.json
  CHANGELOG.md
  pyproject.toml
  tests/unit/snapshot.py
  uv.lock
Due: uv-check, sync-dependencies-on-commit, pyright

[18314399196-1759843973-772-default] Enqueue
  mutex_queue
Due: none

[18314399196-1759843973-772-default] Unlock
  mutex_queue
Due: none

Include Integra XML definition files in package (#52)
  .copier-answers.yml
  .devcontainer/devcontainer.json
  .devcontainer/install-ci-tooling.py
  .github/workflows/get-values.yaml
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  ruff-test.toml
  ruff.toml
  tests/unit/snapshot.py
  uv.lock
Due: uv-check, sync-dependencies-on-commit, pyright

[18314724543-1759844659-754-default] Enqueue
  mutex_queue
Due: none

[18314731590-1759844666-20-default] Enqueue
  mutex_queue
Due: none

[18314724543-1759844659-754-default] Unlock
  mutex_queue
Due: none

[18314731590-1759844666-20-default] Unlock
  mutex_queue
Due: none

[18446339798-1760285358-634-default] Enqueue
  mutex_queue
Due: none

[18446339798-1760285358-634-default] Unlock
  mutex_queue
Due: none

[19613801084-1763914076-673-default] Enqueue
  mutex_queue
Due: none

[19613803122-1763914090-294-default] Enqueue
  mutex_queue
Due: none

[19613801084-1763914076-673-default] Unlock
  mutex_queue
Due: none

[19613803122-1763914090-294-default] Unlock
  mutex_queue
Due: none

copier
  .coderabbit.yaml
  .copier-answers.yml
  .coveragerc
  .devcontainer/devcontainer.json
  .devcontainer/install-ci-tooling.py
  .devcontainer/manual-setup-deps.py
  .github/actions/install_deps/action.yml
  .github/workflows/ci.yaml
  .github/workflows/get-values.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/publish.yaml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  _typos.toml
  pyproject.toml
  pyrightconfig.json
  ruff-test.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit, pyright

[19713421150-1764180850-8-default] Enqueue
  mutex_queue
Due: none

py14
  .copier-answers.yml
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/publish_to_staging.yaml
  pyproject.toml
Due: uv-check

[19713421150-1764180850-8-default] Unlock
  mutex_queue
Due: none

changelog
  .devcontainer/devcontainer.json
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit

[19713515188-1764181080-746-default] Enqueue
  mutex_queue
Due: none

[19713515188-1764181080-746-default] Unlock
  mutex_queue
Due: none

lxml
  .devcontainer/devcontainer.json
  pyproject.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit

[19713685539-1764181472-316-default] Enqueue
  mutex_queue
Due: none

[19713685539-1764181472-316-default] Unlock
  mutex_queue
Due: none

no python 314
  .copier-answers.yml
  .devcontainer/devcontainer.json
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/publish_to_staging.yaml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit

[19714204124-1764182774-579-default] Enqueue
  mutex_queue
Due: none

[19714204124-1764182774-579-default] Unlock
  mutex_queue
Due: none

tag
  .copier-answers.yml
Due: none

[19714369950-1764183205-459-default] Enqueue
  mutex_queue
Due: none

[19714369950-1764183205-459-default] Unlock
  mutex_queue
Due: none

Copier update (CI Timeouts) (#56)
  .coderabbit.yaml
  .copier-answers.yml
  .coveragerc
  .devcontainer/devcontainer.json
  .devcontainer/install-ci-tooling.py
  .devcontainer/manual-setup-deps.py
  .github/actions/install_deps/action.yml
  .github/workflows/ci.yaml
  .github/workflows/get-values.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/publish.yaml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  _typos.toml
  pyproject.toml
  pyrightconfig.json
  ruff-test.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit, pyright

[19714825539-1764184375-581-default] Enqueue
  mutex_queue
Due: none

[19714825539-1764184375-581-default] Unlock
  mutex_queue
Due: none
