Repository LabAutomationAndScreening/pyalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-check, sync-dependencies-on-commit, forbidden-files, pyright

uv-check:
  name: check pyproject.toml for valid Poetry config
  entry: bash -c 'uv lock --check'
  language: system
  pass_filenames: false
  verbose: true

sync-dependencies-on-commit:
  name: ensure python dependencies are up to date during commits
  stages:
  - pre-commit
  ...

forbidden-files:
  name: forbidden files
  entry: found copier update rejection files; review them and remove them
  language: fail

pyright:
  name: pyright
  entry: bash -c "uv run pyright"
  pass_filenames: false
  language: system
  require_serial: true
  verbose: true

specify pipette span
  src/pyalab/integra_xml.py
  src/pyalab/pipette.py
  src/pyalab/plate.py
  src/pyalab/program.py
  src/pyalab/steps/builders.py
  src/pyalab/steps/multi_dispense.py
  src/pyalab/steps/set_volume.py
  tests/unit/__snapshots__/test_program/TestOddLabwareProgramSnapshots.test_arbitrary_params[arbitrary1].xml
  tests/unit/method_steps/__snapshots__/test_multi_dispense/TestMultiDispenseProgramSnapshots.test_pipette_span[arbitrary1].xml
  tests/unit/method_steps/__snapshots__/test_multi_dispense/TestMultiDispenseProgramSnapshots.test_pipette_span[arbitrary2].xml
  tests/unit/method_steps/__snapshots__/test_set_volume/TestDifferentLabwareProgramSnapshots.test_arbitrary_params[single well reservoir, unusual pipette span].xml
  tests/unit/method_steps/__snapshots__/test_set_volume/TestDifferentLabwareProgramSnapshots.test_arbitrary_params[single well reservoir].xml
  tests/unit/method_steps/test_multi_dispense.py
  tests/unit/method_steps/test_set_volume.py
  tests/unit/method_steps/test_simple_transfer.py
  tests/unit/test_pipette.py
  tests/unit/test_program.py
Due: pyright

[12976246283-1737907574-33] Enqueue
  mutex_queue
Due: none

[12976246283-1737907574-33] Unlock
  mutex_queue
Due: none

imcs demo script
  docs/create_vialab_program.ipynb
  docs/imcs_demo.ipynb
Due: none

[12976493887-1737909612-114] Enqueue
  mutex_queue
Due: none

[12976493887-1737909612-114] Unlock
  mutex_queue
Due: none

DRY up snapshots
  tests/unit/fixtures.py
  tests/unit/method_steps/test_multi_dispense.py
  tests/unit/method_steps/test_set_volume.py
  tests/unit/method_steps/test_simple_transfer.py
Due: pyright

[12978684882-1737928678-90] Enqueue
  mutex_queue
Due: none

[12978684882-1737928678-90] Unlock
  mutex_queue
Due: none

DRY mixing
  src/pyalab/steps/base.py
  src/pyalab/steps/multi_dispense.py
  src/pyalab/steps/transfer.py
Due: pyright

[12978860276-1737930041-480] Enqueue
  mutex_queue
Due: none

[12978860276-1737930041-480] Unlock
  mutex_queue
Due: none

more DRY
  src/pyalab/steps/base.py
  src/pyalab/steps/multi_dispense.py
  src/pyalab/steps/transfer.py
  tests/unit/method_steps/__snapshots__/test_simple_transfer/TestSimpleTransferProgramSnapshots.test_arbitrary_params[arbitrary1].xml
  tests/unit/method_steps/__snapshots__/test_simple_transfer/TestSimpleTransferProgramSnapshots.test_arbitrary_params[arbitrary2].xml
Due: pyright

[12979068715-1737931913-127] Enqueue
  mutex_queue
Due: none

[12979068715-1737931913-127] Unlock
  mutex_queue
Due: none

disable pylint
  src/pyalab/steps/multi_dispense.py
  src/pyalab/steps/transfer.py
Due: pyright

[12979226083-1737933316-903] Enqueue
  mutex_queue
Due: none

[12979226083-1737933316-903] Unlock
  mutex_queue
Due: none

add to docs
  docs/steps.rst
Due: none

[12979255306-1737933561-858] Enqueue
  mutex_queue
Due: none

[12979255306-1737933561-858] Unlock
  mutex_queue
Due: none

Create API for the MultiDispense step (#28)
  docs/create_vialab_program.ipynb
  docs/imcs_demo.ipynb
  docs/steps.rst
  src/pyalab/__init__.py
  src/pyalab/deck.py
  src/pyalab/integra_xml.py
  src/pyalab/pipette.py
  src/pyalab/plate.py
  src/pyalab/program.py
  src/pyalab/steps/__init__.py
  src/pyalab/steps/base.py
  src/pyalab/steps/builders.py
  src/pyalab/steps/multi_dispense.py
  src/pyalab/steps/params.py
  src/pyalab/steps/set_volume.py
  tests/unit/__snapshots__/test_program/TestOddLabwareProgramSnapshots.test_arbitrary_params[arbitrary1].xml
  tests/unit/__snapshots__/test_program/TestOddLabwareProgramSnapshots.test_arbitrary_params[arbitrary2].xml
  tests/unit/constants.py
  tests/unit/fixtures.py
  tests/unit/method_steps/__init__.py
  tests/unit/method_steps/__snapshots__/test_multi_dispense/TestMultiDispenseProgramSnapshots.test_arbitrary_params[arbitrary1].xml
  tests/unit/method_steps/__snapshots__/test_multi_dispense/TestMultiDispenseProgramSnapshots.test_arbitrary_params[test-default-params].xml
  tests/unit/method_steps/__snapshots__/test_multi_dispense/TestMultiDispenseProgramSnapshots.test_pipette_span[arbitrary1].xml
  tests/unit/method_steps/__snapshots__/test_multi_dispense/TestMultiDispenseProgramSnapshots.test_pipette_span[arbitrary2].xml
  tests/unit/method_steps/__snapshots__/test_set_volume/TestDifferentLabwareProgramSnapshots.test_arbitrary_params[single well reservoir, unusual pipette span].xml
  tests/unit/method_steps/__snapshots__/test_set_volume/TestDifferentLabwareProgramSnapshots.test_arbitrary_params[single well reservoir].xml
  tests/unit/method_steps/__snapshots__/test_simple_transfer/TestSimpleTransferProgramSnapshots.test_arbitrary_params[arbitrary1].xml
  tests/unit/method_steps/__snapshots__/test_simple_transfer/TestSimpleTransferProgramSnapshots.test_arbitrary_params[arbitrary2].xml
  tests/unit/method_steps/test_multi_dispense.py
  tests/unit/method_steps/test_set_volume.py
  tests/unit/method_steps/test_simple_transfer.py
  tests/unit/steps/test_set_volume.py
  tests/unit/test_deck.py
  tests/unit/test_pipette.py
  tests/unit/test_plate.py
  tests/unit/test_program.py
Due: pyright

[12979279371-1737933769-577] Enqueue
  mutex_queue
Due: none

[12979279371-1737933769-577] Unlock
  mutex_queue
Due: none

[12979309230-1737934004-972] Enqueue
  mutex_queue
Due: none

[12979309230-1737934004-972] Unlock
  mutex_queue
Due: none

fix portrait deck section
  docs/imcs_demo.ipynb
  src/pyalab/deck.py
  tests/unit/__snapshots__/test_program/TestOddLabwareProgramSnapshots.test_arbitrary_params[portrait-in-b].xml
  tests/unit/test_deck.py
  tests/unit/test_program.py
Due: pyright

update name
  docs/imcs_demo.ipynb
Due: none

[13012796957-1738075008-355] Enqueue
  mutex_queue
Due: none

[13012796957-1738075008-355] Unlock
  mutex_queue
Due: none

start height
  docs/imcs_demo.ipynb
Due: none

actually start height
  docs/imcs_demo.ipynb
Due: none

[13013240403-1738076399-761] Enqueue
  mutex_queue
Due: none

[13013240403-1738076399-761] Unlock
  mutex_queue
Due: none

(bugfix) Portrait Plate Orientation (#29)
  docs/imcs_demo.ipynb
  src/pyalab/deck.py
  tests/unit/__snapshots__/test_program/TestOddLabwareProgramSnapshots.test_arbitrary_params[portrait-in-b].xml
  tests/unit/test_deck.py
  tests/unit/test_program.py
Due: pyright

[13013362973-1738076753-614] Enqueue
  mutex_queue
Due: none

[13013362973-1738076753-614] Unlock
  mutex_queue
Due: none

[13013435629-1738076962-821] Enqueue
  mutex_queue
Due: none

[13013435629-1738076962-821] Unlock
  mutex_queue
Due: none

copier update
  .copier-answers.yml
  .devcontainer/code-artifact-auth.sh
  .devcontainer/create-aws-profile.sh
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/install-ci-tooling.sh
  .devcontainer/manual-setup-deps.sh
  .devcontainer/on-create-command.sh
  .github/actions/install_deps_uv/action.yml
  .github/actions/install_deps_uv/install-ci-tooling.ps1
  .github/workflows/publish.yaml
  .github/workflows/publish_to_staging.yaml
  .pre-commit-config.yaml
  _typos.toml
  pyproject.toml
  pyrightconfig.json
  pytest.ini
  sh.bat
  uv.lock
Due: uv-check, sync-dependencies-on-commit

Path conditions:
  uv-check: any of: ^pyproject.toml$|^uv.lock$
  sync-dependencies-on-commit: any of: uv.lock$
  forbidden-files: any of: \.rej$
  pyright: any of: .+\.py$ and \.py$
