Repository LabAutomationAndScreening/pyalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-check, sync-dependencies-on-commit, forbidden-files, pyright

Path conditions:
  uv-check: any of: ^pyproject.toml$|^uv.lock$
  sync-dependencies-on-commit: any of: uv.lock$
  forbidden-files: any of: \.rej$
  pyright: any of: .+\.py$ and \.py$

[15240000264-1748191903-353-default] Unlock
  mutex_queue
Due: none

copier
  .copier-answers.yml
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/envs.json
  .devcontainer/install-ci-tooling.py
  .devcontainer/install-ci-tooling.sh
  .devcontainer/manual-setup-deps.py
  .devcontainer/manual-setup-deps.sh
  .devcontainer/on-create-command-boilerplate.sh
  .devcontainer/on-create-command.sh
  .github/actions/install_deps/action.yml
  .github/actions/install_deps_uv/install-ci-tooling.ps1
  .github/actions/install_deps_uv/manual-setup-deps.ps1
  .github/workflows/ci.yaml
  .github/workflows/get-values.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/publish.yaml
  .github/workflows/publish_to_staging.yaml
  .gitignore
  .pre-commit-config.yaml
  _typos.toml
  pyproject.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit, pyright

[15330162723-1748541365-249-default] Enqueue
  mutex_queue
Due: none

[15330162723-1748541365-249-default] Unlock
  mutex_queue
Due: none

pin
  .copier-answers.yml
  .devcontainer/devcontainer.json
  pyproject.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit

[15330210592-1748541536-351-default] Enqueue
  mutex_queue
Due: none

[15330210592-1748541536-351-default] Unlock
  mutex_queue
Due: none

tag
  .copier-answers.yml
Due: none

[15330382219-1748542082-347-default] Enqueue
  mutex_queue
Due: none

[15330382219-1748542082-347-default] Unlock
  mutex_queue
Due: none

Copier update (python install scripts) (#39)
  .copier-answers.yml
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/envs.json
  .devcontainer/install-ci-tooling.py
  .devcontainer/install-ci-tooling.sh
  .devcontainer/manual-setup-deps.py
  .devcontainer/manual-setup-deps.sh
  .devcontainer/on-create-command-boilerplate.sh
  .devcontainer/on-create-command.sh
  .github/actions/install_deps/action.yml
  .github/actions/install_deps_uv/install-ci-tooling.ps1
  .github/actions/install_deps_uv/manual-setup-deps.ps1
  .github/workflows/ci.yaml
  .github/workflows/get-values.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/publish.yaml
  .github/workflows/publish_to_staging.yaml
  .gitignore
  .pre-commit-config.yaml
  _typos.toml
  pyproject.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit, pyright

[15330477280-1748542392-500-default] Enqueue
  mutex_queue
Due: none

[15330477280-1748542392-500-default] Unlock
  mutex_queue
Due: none

[15330546825-1748542616-388-default] Enqueue
  mutex_queue
Due: none

[15330546825-1748542616-388-default] Unlock
  mutex_queue
Due: none

[15330574453-1748542704-853-default] Enqueue
  mutex_queue
Due: none

[15330574453-1748542704-853-default] Unlock
  mutex_queue
Due: none

[16405700464-1753056630-688-default] Enqueue
  mutex_queue
Due: none

[16405700464-1753056630-688-default] Unlock
  mutex_queue
Due: none

copier
  .copier-answers.yml
  .devcontainer/devcontainer.json
  .devcontainer/install-ci-tooling.py
  .github/dependabot.yml
  .github/workflows/publish.yaml
  .pre-commit-config.yaml
  biome.json
  biome.jsonc
  pyproject.toml
  ruff.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit, pyright

[16414721774-1753094271-460-default] Enqueue
  mutex_queue
Due: none

[16414721774-1753094271-460-default] Unlock
  mutex_queue
Due: none

lxml 6
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit

[16414795922-1753094500-410-default] Enqueue
  mutex_queue
Due: none

[16414795922-1753094500-410-default] Unlock
  mutex_queue
Due: none

py313
  .copier-answers.yml
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/publish_to_staging.yaml
  pyproject.toml
Due: uv-check

[16414920906-1753094884-229-default] Enqueue
  mutex_queue
Due: none

more ci
  .copier-answers.yml
  .github/workflows/publish.yaml
Due: none

[16414920906-1753094884-229-default] Unlock
  mutex_queue
Due: none

[16414942736-1753094953-349-default] Enqueue
  mutex_queue
Due: none

[16414942736-1753094953-349-default] Unlock
  mutex_queue
Due: none

[16415019474-1753095188-339-default] Enqueue
  mutex_queue
Due: none

[16415019474-1753095188-339-default] Unlock
  mutex_queue
Due: none

Support python 3.13 (#40)
  .copier-answers.yml
  .devcontainer/devcontainer.json
  .devcontainer/install-ci-tooling.py
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/publish_to_staging.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  biome.json
  biome.jsonc
  pyproject.toml
  ruff.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit, pyright

[16415077812-1753095370-366-default] Enqueue
  mutex_queue
Due: none

[16415083910-1753095382-683-default] Enqueue
  mutex_queue
Due: none

[16415077812-1753095370-366-default] Unlock
  mutex_queue
Due: none

[16415083910-1753095382-683-default] Unlock
  mutex_queue
Due: none

coiper
  .copier-answers.yml
  .devcontainer/devcontainer.json
  .devcontainer/install-ci-tooling.py
  .devcontainer/manual-setup-deps.py
  .github/dependabot.yml
  .github/workflows/pre-commit.yaml
  pyproject.toml
  ruff.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit, pyright
