Repository LabAutomationAndScreening/pyalab: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-check, sync-dependencies-on-commit, forbidden-files, pyright

uv-check:
  name: check pyproject.toml for valid Poetry config
  entry: bash -c 'uv lock --check'
  language: system
  pass_filenames: false
  verbose: true

sync-dependencies-on-commit:
  name: ensure python dependencies are up to date during commits
  stages:
  - pre-commit
  ...

forbidden-files:
  name: forbidden files
  entry: found copier update rejection files; review them and remove them
  language: fail

pyright:
  name: pyright
  entry: bash -c "uv run pyright"
  pass_filenames: false
  language: system
  require_serial: true
  verbose: true

[13871646041-1742031365-757-default] Enqueue
  mutex_queue
Due: none

[13871646041-1742031365-757-default] Unlock
  mutex_queue
Due: none

[13871679290-1742031656-796-default] Enqueue
  mutex_queue
Due: none

[13871679290-1742031656-796-default] Unlock
  mutex_queue
Due: none

Copier update (#30)
  .copier-answers.yml
  .devcontainer/code-artifact-auth.sh
  .devcontainer/create-aws-profile.sh
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/install-ci-tooling.sh
  .devcontainer/manual-setup-deps.sh
  .devcontainer/on-create-command.sh
  .github/actions/install_deps_uv/action.yml
  .github/actions/install_deps_uv/install-ci-tooling.ps1
  .github/workflows/publish.yaml
  .github/workflows/publish_to_staging.yaml
  .pre-commit-config.yaml
  _typos.toml
  pyproject.toml
  pyrightconfig.json
  pytest.ini
  sh.bat
  uv.lock
Due: uv-check, sync-dependencies-on-commit

[13871721601-1742032096-434-default] Enqueue
  mutex_queue
Due: none

[13871721601-1742032096-434-default] Unlock
  mutex_queue
Due: none

copier update
  .copier-answers.yml
  .devcontainer/devcontainer.json
  .devcontainer/install-ci-tooling.sh
  .github/actions/install_deps_uv/action.yml
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/publish_to_staging.yaml
  .pre-commit-config.yaml
  .prettierrc
Due: none

[13951086895-1742399989-594-default] Enqueue
  mutex_queue
Due: none

[13951086895-1742399989-594-default] Unlock
  mutex_queue
Due: none

stale ruff rule
  src/pyalab/integra_xml.py
Due: pyright

[13951112037-1742400194-545-default] Enqueue
  mutex_queue
Due: none

[13951112037-1742400194-545-default] Unlock
  mutex_queue
Due: none

copier tag
  .copier-answers.yml
Due: none

[13951231425-1742400372-747-default] Enqueue
  mutex_queue
Due: none

[13951231425-1742400372-747-default] Unlock
  mutex_queue
Due: none

Copier update (precommit prettier) (#31)
  .copier-answers.yml
  .devcontainer/devcontainer.json
  .devcontainer/install-ci-tooling.sh
  .github/actions/install_deps_uv/action.yml
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  .github/workflows/publish_to_staging.yaml
  .pre-commit-config.yaml
  .prettierrc
  src/pyalab/integra_xml.py
Due: pyright

[13951250567-1742400427-863-default] Enqueue
  mutex_queue
Due: none

[13951250567-1742400427-863-default] Unlock
  mutex_queue
Due: none

copier
  .copier-answers.yml
  .devcontainer/windows-host-helper.sh
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit

[13974644287-1742488838-616-default] Enqueue
  mutex_queue
Due: none

[13974651580-1742488854-777-default] Enqueue
  mutex_queue
Due: none

[13974644287-1742488838-616-default] Unlock
  mutex_queue
Due: none

[13974651580-1742488854-777-default] Unlock
  mutex_queue
Due: none

[13974732139-1742489104-545-default] Enqueue
  mutex_queue
Due: none

[13974732139-1742489104-545-default] Unlock
  mutex_queue
Due: none

copier updates (pylint fix) (#32)
  .copier-answers.yml
  .devcontainer/windows-host-helper.sh
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: uv-check, sync-dependencies-on-commit

[13974786020-1742489266-139-default] Enqueue
  mutex_queue
Due: none

[13974786020-1742489266-139-default] Unlock
  mutex_queue
Due: none

move program test
  tests/unit/program/__init__.py
  tests/unit/program/__snapshots__/test_program/TestOddLabwareProgramSnapshots.test_arbitrary_params[arbitrary1].xml
  tests/unit/program/__snapshots__/test_program/TestOddLabwareProgramSnapshots.test_arbitrary_params[arbitrary2].xml
  tests/unit/program/__snapshots__/test_program/TestOddLabwareProgramSnapshots.test_arbitrary_params[portrait-in-b].xml
  tests/unit/program/test_program.py
Due: pyright

[14021781803-1742754402-398-default] Enqueue
  mutex_queue
Due: none

[14021781803-1742754402-398-default] Unlock
  mutex_queue
Due: none

pipette properites
  pyproject.toml
  src/pyalab/__init__.py
  src/pyalab/pipette.py
  src/pyalab/program.py
  tests/unit/fixtures.py
  tests/unit/program/test_d_one.py
  tests/unit/test_pipette.py
  uv.lock
Due: uv-check, sync-dependencies-on-commit, pyright

[14021999192-1742756077-864-default] Enqueue
  mutex_queue
Due: none

[14021999192-1742756077-864-default] Unlock
  mutex_queue
Due: none

more validation
  src/pyalab/program.py
  tests/unit/program/test_d_one.py
Due: pyright

[14022062353-1742756620-162-default] Enqueue
  mutex_queue
Due: none

[14022062353-1742756620-162-default] Unlock
  mutex_queue
Due: none

initial tip layout
  src/pyalab/integra_xml.py
  src/pyalab/pipette.py
  src/pyalab/program.py
  tests/unit/fixtures.py
  tests/unit/program/__snapshots__/test_d_one/TestTipLayoutSnapshots.test_arbitrary_params[300-ul-position-1-only].xml
  tests/unit/program/test_d_one.py
Due: pyright

[14022376538-1742759038-939-default] Enqueue
  mutex_queue
Due: none

Path conditions:
  uv-check: any of: ^pyproject.toml$|^uv.lock$
  sync-dependencies-on-commit: any of: uv.lock$
  forbidden-files: any of: \.rej$
  pyright: any of: .+\.py$ and \.py$
